# ==========================================
# C++ Artifacts
# ==========================================
# Prerequisites
*.d

# Compiled Object files
*.0
*.obj
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Common C++ Build Directories
build/
Build/
bin/
x64/
x86/
cmake-build-debug/
cmake-build-release/

# ==========================================
# Python Artifacts
# ==========================================
# Byte-compiled / optimized / DLL load cache
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script before PyInstaller builds the exe
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit testing / coverage reports
htmlcov/
.toml
.cache
.pytest_cache/
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
cover/

# Flask instance folder
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook checkpoint files
.ipynb_checkpoints

# IPython
.ipython/

# pyenv
#   For a library or package, you might want to ignore these files since the Python version is up to the user.
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case you don't want it:
#__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# ==========================================
# Common IDEs and OS Files (Optional)
# ==========================================
.vscode/
.idea/
*.suo
*.user
*.sln
.DS_Store
Thumbs.db

*.bak